* {
	font-family: 'Roboto', sans-serif;
}

.custom-header {
	padding: 40px;
	width: 100%;
	min-height: 650px;
	background-size: cover !important;
	background: linear-gradient(to left, rgba(255, 100, 0, 0.5), rgba(180, 15, 20, 0.7)), url('../images/background.jpg') no-repeat;
}

#title-header {
	color: white;
	font-family: 'Arial';
	text-align: center;
	display: flex;
	justify-content: center !important;
	margin-top: 220px;
}

.arrow-button {
	font-size: 2em;
	text-align: center;
	margin: 220px auto 0px;
	height: 40px;
	width: 40px;
	background-color: white;
	border-radius: 100%;
}

.arrow-button a {
	color: rgba(255, 100, 0, 0.5);
	text-decoration: none;
}

.left-content {
	margin-top: 50px;
	font-size: 2.3em;
	font-weight: bolder;
}

.right-content {
	margin-top: 50px;
	font-size: 1em;
	color: #9b9999;
	letter-spacing: 1px;
	font-weight: bold;
}

.jobs-section {
	margin-top: 50px;
	background-color: #fcfcfc;
}