* {
	font-family: 'Roboto', sans-serif;

}

.custom-header {
	padding: 40px;
	width: 100%;
	min-height: 650px;
	background-size: cover !important;
	background: linear-gradient(rgba(255, 100, 0, 0.5), rgba(180, 15, 20, 0.7)), url('../images/background.jpg') no-repeat;
}

#title-header {
	color: white;
	font-family: 'Arial';
	text-align: center;
	display: flex;
	justify-content: center !important;
	margin-top: 220px;
	font-weight: bolder;
	letter-spacing: 1px;
}

.arrow-button {
	font-size: 2em;
	text-align: center;
	margin: 220px auto 0px;
	height: 40px;
	width: 40px;
	background-color: white;
	border-radius: 100%;
}

.arrow-button a {
	color: rgba(255, 100, 0, 0.5);
	text-decoration: none;
}

.left-content {
	margin-top: 50px;
	font-size: 2.3em;
	font-weight: bolder;
}

.right-content {
	margin-top: 50px;
	font-size: 1em;
	color: #9b9999;
	font-weight: bold;
	line-height: 2em;
}

.jobs-section {
	margin-top: 50px;
	min-height: 1444px;
	background-color: #fcfcfc;
}

.job-title {
	font-weight: bolder;
	font-size: 1.05em;
	color: #5b5b5b;
}

.job-info {
	font-weight: lighter;
}

.button-apply {
	align-items: center;
	background-color: #ED7B35;
	border-color: unset;
	padding: 10px 40px;
	font-size: 0.7em;
}

.button-apply:hover {
	align-items: center;
	background-color: #fcfcfc;
	border-color: unset;
	color: grey;
	padding: 10px 40px;
	font-size: 0.7em;
}

.job-card {
	margin-top: 30px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.custom-footer {
	background-color: #fcfcfc;
	height: 50px;
	letter-spacing: 1px;
}

#heart {
	color: red;
	font-size: 1.5em;
}

hr {
	margin-top: 0px !important;
}

.footer img {
	height: 25px;
	margin-left: 5px;
}

.navbar {
	width: 100% !important;
	position: fixed;
	z-index: 2;
}

.navbar.scrolled {
  background-color: rgba(255, 100, 0, 0.5) !important;
}

.navbar.scrolled .nav-link {
  color: white;
}

@media (min-width: 500px) and (max-width: 800px) {
	.left-content {
		font-size: 1.2em;
	}

	.right-content p {
		font-size: 0.6em;
		font-weight: lighter;
	}

	.job-title {
		font-size: 0.8em;
	}

	.footer {
		float: left;
		font-size: 0.5em;
	}

	.social-media {
		margin-top: 5px;
	}

	.social-media img {
		max-height: 10px;
	}
}